# Игнорировать временные файлы и каталоги
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать зависимости и виртуальные окружения
node_modules/
__pycache__/
venv/
env/

# Игнорировать сгенерированные файлы и директории
dist/
build/

# Игнорировать файлы окружения
.env

# Игнорировать логи и временные файлы
log/
logs/
tmp/
temp/